body, html {
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #EE7552;
}

section h2::before {
  content: '🎲 ';
  color: #337ab7;
}

section {
  padding: 0 1em 1em;
}

#stats_generator li strong {
  border-bottom: 1px dotted #000;
  cursor: help;
}

footer {
  font-size: small;
  padding: 2em;
}

.jumbotron {
  background:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 1) 100%
    ),
    url('../images/fuckmy.party-header.jpg');
  background-size: cover;
  color: #EE7552;
  text-shadow: 2px 2px 4px #000;
}

#slider-min-max .slider-rangeHighlight {
  background: #ddd;
}

.copy-text {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

.copy-text:hover {
  text-decoration: underline;
}

.okay {
  transition-property: color content;
  transition-duration: 1s;
  color: green;
}
.okay::before {
  content: '✓';
}

.nope {
  transition-property: color content;
  transition-duration: 1s;
  color: orangered;
}
.nope::before {
  content: '✗';
}